@import "tailwindcss";

:root{
  --orange10: #FF5A4C;
  --orange20: #FF7923;
  --yellow: #FEB143;
  --blue: #55A8D6;
  --blue-hover: #458aaf;
  --purple: #9C75B0;
  --purple10: #3C0C55;
  --purple-hover: #7b4498;
  --pink: #FF738F;
  --negative: #EA080B;
  --notice: #F7B204;
  --positive: #8CAA11;
  --informative: #00A18B;
  --grey10: #444444;
  --grey20: #7F7F7F;
  --grey30: #C8C8C8;
  --grey40: #D9D9D9;
  --grey50: #ECECEC;
  --grey60: #FFFFFF;
  --h1: 700 40px 'Roboto Condensed', sans-serif;
  --h2: 600 32px 'Roboto Condensed', sans-serif;
  --h3: 600 26px 'Roboto Condensed', sans-serif;
  --h4: 400 20px 'Roboto Condensed', sans-serif;
  --text: 400 15px 'Roboto Condensed', sans-serif;
}

body{
  font: var(--text);
}

.btn {
  @apply bg-[var(--purple)] text-white px-3 py-1;
}

.btn:hover {
  @apply bg-[var(--purple-hover)];
}

.destructive {
  @apply bg-[var(--negative)] text-white px-3 py-1;
}